doctype html
html
  head
    title=title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:500,700|Roboto:400,500,700,900")
    link(rel="stylesheet" href='/style.css')
  body.js-body
    header
      img.logo(src="/lets-play.png")

    div.container
      form.view.js-join
        h2="Questions pour un Pochtron !"
        input(type='text' name='name' placeholder='Béatrice K.' required='required')
        button(type='submit')='Jouer!'

      div.view.js-joined.hidden
        h1.js-joined-info=""
        button.js-buzzer.buzzer()='Buzzer'
        //- button.js-edit.secondary='Change name'

    script(src='/socket.io/socket.io.js')
    script(src='/join.js')